services:
  watcher:
    build: .
    volumes:
      - /home/deck/.local/share/Steam/userdata/[id]/760/remote/:/screenshots:ro
    restart: unless-stopped
    network_mode: host
    environment:
      TELEGRAM_BOT_TOKEN: "bot_token"
      TELEGRAM_CHAT_ID: "chat_id"
      STEAM_LANG: "en"
      FILE_READY_DELAY: "1"
